$color-red: #e31f24;
$color-black: #000000;
$color-dark: #333;
$color-white: #ffffff;
$color-grey: #76787d;
$color-grey-light-small: #e0e0e0;
$color-grey-light: #e9ecef;
$color-grey-lighter: #fdfdfd;

$fz: 16px;
$ff: 'Montserrat', sans-serif;
$lh: 17.07px;